!Build/
!t/tmp/.gitkeep
*.log
*.pid
*.swp
.DS_Store
.last_cover_stats
.perl-version
.tidyall.d/*
.vagrant/
/.build
/.prove
/Build
/_build*
Build
Build*
MANIFEST.bak
META*
MYMETA.*
blib/
config/catmandu.local.yml
cover_db/
cpanfile.snapshot
local/
node_modules/
nytprof*
pm_to_blib
profiledata/
t/tmp/*
~$
